.iimage_caption {
	background: transparent url(images/point.png) 0 0 no-repeat;
	padding: 16px 0 0 16px;
	font-size: small;
	font-family: "Droid Sans", "Verdana", sans-serif;
}

.iimage_caption span.c_main {
	display: block;
	opacity: 0;

	padding: 3px 4px;

	background-color: rgba( 0, 0, 0, 0.85 );
	color: rgba( 255, 255, 255, 0.9 );

	border: 1px solid rgba( 0, 0, 0, 0.1 );

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	-webkit-box-shadow: 3px 3px 2px rgba( 0, 0, 0, 0.3 );
	-moz-box-shadow: 3px 3px 2px rgba( 0, 0, 0, 0.3 );
	box-shadow: 3px 3px 2px rgba( 0, 0, 0, 0.3 );

	-webkit-transition: opacity 0.7s ease-in-out;
	-moz-transition: opacity 0.7s ease-in-out;
	transition: opacity 0.7s ease-in-out;
}

.iimage_caption.hover,
.iimage_caption:hover {
	background: transparent url(images/point_hover.png) 1px 1px no-repeat;
}

.iimage_caption.hover span.c_main,
.iimage_caption:hover span.c_main {
	opacity: 1;
}

.iimage_reposition {
	background: transparent url(images/point_reposition.png) 0 0 no-repeat;
}

#iimage_preview div:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
